.menu-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu-page__button {
    width: 50%;
    margin: 30px;
}
