.header {
    display: flex;
    justify-content: end;
    margin: 24px;
    height: 40px;
}

.card {
    width: 50vw;
    height: 160px;
    text-align: center;
    justify-content: center;
    cursor: 'pointer'
}
